/* 
Copyright 2021-23 Quarkz By Mr Techtroid

All rights reserved by [Mr Techtroid]. This work is not open-source.

No part of these HTML, CSS, and JavaScript files may be reproduced, distributed, 
or transmitted in any form or by any means, including photocopying, recording, 
or other electronic or mechanical methods, without the prior written permission 
of the author, except in the case of brief quotations embodied in critical reviews 
and certain other noncommercial uses permitted by copyright law.

For permission requests, please contact [Mr Techtroid] at mrtechtroid@outlook.com . 
*/
:root {
  --bgcolor: rgb(18, 34, 53);
  --bgimage: radial-gradient(at 47% 33%, hsl(0.00, 0%, 0%) 0, transparent 59%), radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  --yellow: rgb(228, 228, 3);
  --black: rgb(0,0,0);
  --white: rgb(255, 255, 255);
  --red: red;
  --clr1:  rgba(17, 25, 40, 0.75);
  --clr2: rgba(255, 255, 255, 0.125);
  --clr3: rgb(0, 4, 255);
  --clr4: rgb(0, 225, 255);
  --clr5: grey;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Nunito;
  font-size: 3vh;
  background-color: var(--bgcolor);
  background-image: var(--bgimage);
  color: var(--white);
}

/* Overlay */
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  z-index: 1;
}

#overlay_div {
  color: var(--white);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.in_t {
  font-size: 5vh;
}

.in_t_2 {
  font-size: 2vh;
}

.in_t_3 {
  font-size: 3vh;
}

#legal {
  text-align: center;
}

#ovr_logo {
  font-size: 4vh;
  font-weight: bold;
  margin-left: 2vw;
}

.lgn_c_1 {
  margin: auto;
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
}

.lgn_c_1 a {
  color: var(--white);
}

#bgrep_frame {
  width: 90vw;
  height: 90vh;
  border: none;
}

#abt_c_1 {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

/* Login Page */
.text_bx_1 {
  font-size: 4vh;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid var(--yellow);
  outline: none;
  color: var(--white);
}

/* Watermark Div */
#watermark {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98vw;
  position: relative;
}

#w_holder {
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  margin-left: 2vw;
}

#lgn_err {
  display: none;
}

/* Login */
#lgn_bx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: var(--clr1);
  border-radius: 12px;
  border: 1px solid var(--clr2);
  border-radius: 10px;
  padding: 4vw;
}

/* Dashboard */
#sidebar {
  width: 30vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  border-right: 3px solid var(--white);
}

.full_page {
  width: 97vw;
  height: 89vh;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: var(--clr1);
  border-radius: 12px;
  border: 1px solid var(--clr2);
  overflow: hidden;
  margin: 5px;
  color: var(--white);
  /* display: none !important; */
}

.note-editable {
  color: var(--white);
}

._open {
  display: flex !important;
}

#pe_gi_ins {
  resize: none;
  overflow-y: scroll;
}

#pe_tst_mrk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex_type {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#spoints::after {
  content: "🔥"
}

.pro_table {
  border-collapse: collapse;
}

.pro_table td {
  border: gray 3px solid;
  width: 20vw;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.pro_table th {
  border: orangered 3px solid;
  width: 20vh;
}

.t_crr {
  position: relative;
}

.t_incrr {
  position: relative;
}

.t_unat {
  position: relative;
}

.t_crr::before {
  position: absolute;
  content: 'C';
  bottom: 2px;
  right: 8px;
  color: var(--clr3);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEVQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/kkg1QAAABd0Uk5TADBff7+vIBCP/9+gcECQ8IDQwGDvULDg0L2uAAAAj0lEQVR4nO2SUQ+CMAyENymMDzeGDPn/P9UFCWpS6rOJ97Skt7trrs798ePwl0akbbqTcejZIV79PsA1ppTGzKQRbuS0S40aIUJ6uSmEzGzld/5dQEMCNfqBCcz5d0IBLfpHBjtkgGJ7zCy2Rwf9IXfXGHUPeRZdFrUsFzMM0krtO564rHk7h9XYJ9R72B4PdY4Ess6OA7IAAAAASUVORK5CYII=')
}

#bugreport {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t_incrr::before {
  position: absolute;
  content: 'X';
  bottom: 2px;
  right: 8px;
  color: var(--clr3);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADNQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA6Y43EAAAABF0Uk5TACB/MMD/z9DwgHBg4LAQUL+CKjl9AAAAgUlEQVR4nO3ROxKAIAwE0ACuAn7vf1oFImORtXfGbUjB5JEg8ue7cd4HLYP3zrgxYNRqwmC2iEi1SIhWA5EMFCQAmTyjIQToCAUUmTnQEHCgIngDpEzYJmG5Jlz6uqxMWPu6bCBu97oIsMvzTwygHBSpQMmFWKMqIBU5OKDI27o1J0mhAtutD+wYAAAAAElFTkSuQmCC')
}

.t_unat::before {
  position: absolute;
  content: 'U';
  bottom: 2px;
  right: 8px;
  color: var(--clr3);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEJQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA60NphwAAABZ0Uk5TAGB/QMD/gJDQsHDPECAwUO/wv5+voBP21iAAAABkSURBVHic7ZHLCoAgFAWv6THLR9nj/3+1BI0WZ9UucDYOMsIBRTo/Rg2a6AsDS7QHX4KxqaPBBNMUmElg4asFgH2Weq4tEElwj/CpnMtKJ4ikDGz74QEXaCDhRCGzhY2odX19AdugAyeYRe6mAAAAAElFTkSuQmCC')
}

.fto_box {
  display: flex;
  height: 50px;
  width: 130px;
  border-radius: 30px 30px 30px 30px;
  background-color: #292f3a;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.fto_box_title {
  font-size: 14px;
  color: #a1f506
}

.fto_box_content {
  font-size: 20px;
}

.progressbar_tr {
  background-color: var(--clr4);
  border-radius: 13px;
  padding: 3px;
  width: 90vw;
}

.pb_tr_in {
  background-color: orange;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  position: relative;
}

.tst_btn {
  font-size: 3vh;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  background-color: #2d333a;
  color: var(--white);
  border: none;
  border-radius: 30px 30px 30px 30px;
}

.tst_btn:hover {
  background-color: #7e8fa5;
}

.tlinks,.tlinks-2 {
  height: max-content;
  border: yellow 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.tlinks-2{
  flex-direction: row !important;
}
#sms_prov::before{
  content: "("
}
#sms_prov::after{
  content: ")"
}
.tlinks_min {
  height: max-content;
  border: yellow 1px solid;
  padding: 10px;
  width: 350px;
  border-radius: 100px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.t_title {
  font-size: large;
  font-weight: bold;
}

.t_stron {
  font-size: small;
  color: var(--clr5);
}

#tmt_frame {
  filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  background-color: var(--black);
  color: var(--white);
  border: 0;
}

.t_endon {
  font-size: small;
  color: var(--clr5);
}

.fqu_mcq_p,
.tp_mcq_p,
.lq_mcq {
  height: max-content;
  border: yellow 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--white);
}

.tb_q_mcq_p {
  height: max-content;
  border: yellow 1px solid;
  padding: 2px;
  width: 30vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--white);
  padding-left: 8px;
}

.fqu_mcq {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  text-decoration: none;
}

.fqu_i1,
.fqu_i2,
.tp_i1,
.tp_i2 {
  background-color: var(--black);
  border-color: magenta;
  color: var(--white);
  padding: 2px;
  width: 30vw;
  height: 3vh;
}

.tp_i1,
.tp_i2 {
  width: 10vw;
}

.sp_txt {
  color: magenta;
}

.err_txt {
  color: rgb(255, 0, 43);
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  z-index: 2;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--red);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 2vw;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  float: none;
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

._in_reg {
  font-size: 4vh;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid lime;
  outline: none;
  color: var(--white);
}

._in_aq,
._in_pq {
  font-size: 3vh;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgb(105, 114, 105);
  outline: none;
  color: var(--white);
}

._in_aq {
  width: 72vw;
}

._in_pq {
  width: 5vw;
}

.qb_q_ty {
  float: right;
  color: magenta;
}

#eqb_add {
  width: 90%;
  font-size: 14px;
  z-index: 1;
  counter-reset: qno;
}

.qb_mcq {
  counter-reset: optno;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qb_mcq_exp {
  counter-reset: optno;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.qbtp_q::before {
  content: counter(qno)") ";
}

.qbtp_q {
  counter-increment: qno;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.qb_q_ty {
  position: absolute;
  right: 10px
}

.qb_qt_ty {
  position: relative !important;
}

.qb_mcq_opt {
  counter-increment: optno;
  width: 20vw;
}

.qb_mcq_opt:before {
  content: counter(optno, lower-alpha)") ";
}

#qb_title {
  color: #eb2d2d;
}

#abt_img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: greenyellow;
  border-style: solid;
}

#ovr_l_2 {
  display: none;
  height: 6vh;
}

#ovr_l_1 {
  display: block;
  height: 6vh;
}

.qb_img {
  position: relative;
  z-index: -1;
}

.note-modal-backdrop {
  display: none !important;
}

.qb_q {
  counter-increment: qno;
}

#eqb_instr {
  text-align: left;
  width: 90%;
  font-size: 14px;
}

#nt_nocontrol {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20vw;
  height: 10vh;
  background-color: var(--bgcolor);
  text-align: center;
  border: var(--clr5) 2px solid;
}

@media screen {
  div.divFooter {
    display: none;
  }
}

@media print {
  @page {
    size: A4;
    margin: 15mm 15mm 15mm 15mm;
    background-image: url("../assets/Q_Print.png");
  }

  .divFooter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(168, 168, 173);
    z-index: 0;

  }

  .divFooter2 {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateY(50%);
    font-size: 15px;
    color: rgb(5, 5, 32);
    z-index: 0;
  }

  body:before {
    content: "";
    position: absolute;
    z-index: -1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

  .qb_q {
    counter-increment: qno;
  }

  body {
    position: relative;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: transparent;
    background-image: none;
    margin: 0;
    background: url("../assets/Q_Print.png");
    color: var(--black);
    font-family: Nunito;
  }

  #ovr_l_1 {
    display: none !important;
  }

  #ovr_l_2 {
    display: block !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  hr {
    color: var(--black);
    background-color: var(--black);
  }

  #output {
    backface-visibility: visible;
    background-color: transparent;
    border: var(--black) 3px solid;
  }

  #eqb_instr {
    color: var(--black);
  }

  .qb_ttl,
  .qb_img,
  .qb_q_ty,
  .qb_mcq,
  li {
    page-break-inside: avoid !important;
    position: relative;
    break-inside: avoid;
    page-break-after: auto;
    display: block;
  }

  .qb_mcq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #eqb_add {
    display: block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .les_q,
  .les_expl {
    color: var(--black) !important;
  }

  .qbtp_q {
    color: var(--black) !important;
    border-bottom: var(--black) 1px solid;
    font-size: 15px;
    position: relative;
  }

  .qb_q_ty {
    color: magenta !important;
  }

  footer:before {
    content: "Quarkz!"
  }

  hr,
  li {
    color: var(--black);
  }

}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.div-qbnk {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #292f3a;
  z-index: 0;

}

.div-qbnk1 {
  position: fixed;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #a1f506;
  z-index: 0;
  width: 120px;
  display: flex;
  flex-direction: column;
}

#printable,
#topic {
  height: max-content !important;
}

#functions {
  overflow-y: scroll;
}

#func_hold {
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 50vw;
  height: 60vh;
}

#dsh_btn {
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(25, 37, 58, 0.75);
  color: var(--white);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.ovr-scroll {
  overflow-y: scroll;
}

.col-red {
  color: var(--red);
}

#tp_full_vid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dsh_btn:hover {
  background-color: rgba(18, 48, 146, 0.5);
}

.dshbox {
  padding: 4vw;
  border: lime 3px solid;
  border-radius: 30px;
  margin: 1vw;
}

#lgl_container {
  width: 60vw;
  height: 75vh;
  overflow-y: scroll;
  border: solid 3px yellow;
  text-align: left;
  font-size: 14px;
}

#fto_leaderboard {
  width: 30vw;
  height: 55vh;
  overflow-y: scroll;
  border: solid 3px yellow;
  text-align: left;
  font-size: 14px;

}

#tt_timespent {
  font-size: 14px;
  width: 300px;
}

#tt_infobx {
  width: 250px;
  height: 140px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  border: var(--clr5) 1px solid;
  border-radius: 30px 0px 0px 30px;
  margin: 10px;
}

.tt_question hr {
  background-color: var(--clr5);
}

#tt_question {
  height: 70vh;
  border: var(--clr5) 3px solid;
  overflow-y: scroll;
  /* min-width: 600px; */
}

#tt_timeleft,
#tt_marksaward,
#tt_timespent,
#tt_testname {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px 5px 5px 5px;
  border: var(--clr5) 1px solid;
}

#testv1 {
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  min-height: 90vh;
}

#tw_Physics_c,
#tw_Chemistry_c,
#tw_Math_c,
#tw_Computer_c,
#tw_Biology_c,
#tw_Statistics_c,
#tw_Unfiled_c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto
}

#tw_Physics,
#tw_Chemistry,
#tw_Math,
#tw_Computer,
#tw_Biology,
#tw_Statistics,
#tw_Unfiled {
  display: flex;
  flex-direction: column;
}

#tt_qnobx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px 0px 0px 30px;
  padding: 10px;
  width: 250px;
  height: 40vh;
  margin: 10px;
  overflow-y: scroll;
  border: var(--clr5) 1px solid;
}

.fto_small {
  font-size: 12px;
  color: var(--clr5);
  margin: 5px
}

.t_gre {
  background-color: var(--bgcolor);
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  width: 50px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#volumebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--red);
}

/* Copyright: Quarkz! */
#yt_progressBar {
  width: 960px;
  height: 6px;
  background-color: #444444;
  display: none;
  margin-top: 1px;
}

#prf_tab_t,
#abt_tab_t {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#abt_tab_t {
  /* background: url("/../assets/banner.webp"), url("/../assets/banner.png"); */
  background-position: center;
  background-size: 50px;
}

#prf_tab_t {
  background: url("../assets/prf_background.webp"), url("../assets/prf_background.png");
  background-size: cover;
  background-position: center;
}

#prf_email::before {
  content: "✉ "
}

#prf_name {
  font-size: 5vh;
  color: var(--black);
  font-weight: bold;
}

#abt_name {
  font-size: 4vh;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.prf_det {
  font-size: 2vh;
  color: rgb(80, 79, 79)
}

.abt_det {
  font-size: 2vh;
  color: rgb(155, 137, 137)
}

#prf_phone::before {
  content: "☎ "
}

#prf_class::before {
  content: "Class "
}

#prf_crton::before {
  content: "Joined On "
}

#prf_tab_t_t,
#abt_tab_t_t {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
  height: 30vh;
}

#prf_tab_t_t_img {
  height: 100px;
  width: 100px;
}

.prf_male {
  background: url("../assets/q_male.svg");
  background-size: cover;
}

.prf_female {
  background: url("../assets/q_female.svg");
  background-size: cover;
}

#abt_tab_t_t_img {
  border: #06D85F 2px solid;
  border-radius: 30px;
  width: 200px;
  height: 200px
}

#prf_tab_t_hold,
#abt_tab_t_hold {
  display: flex;
  flex-direction: column;
  height: 7vh;
  margin-left: 5px;
  height: max-content;
  justify-content: left;
}

#abt_tab_t_hold {
  margin: 10px;
}

circle text {
  fill: var(--white);
}

#yt_progressBar div {
  height: 100%;
  width: 0;
  background-color: var(--white);
}

#volumebar::-moz-range-thumb {
  background: var(--red);
}

.material-icons:hover {
  color: var(--red)
}

.material-icons {
  font-size: 20px;
}

.dmName {
  color: mediumspringgreen;
}

#tb_wy_btn:hover {
  color: var(--red);
}

.rpl {
  background-position: center;
  transition: background 0.8s;
}

.rpl:hover {
  background: #67717e;
}

.rpl:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
  background: #30acd1;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 101, 2);
}

#tp_lesson:-webkit-full-screen,
#tp_lesson:-moz-full-screen,
#tp_lesson:-ms-fullscreen,
#tp_lesson:fullscreen {
  width: 100vw;
  height: 100vh;
}

#player {
  height: 300px;
}

#player:-webkit-full-screen,
#player:-moz-full-screen,
#player:-ms-fullscreen,
#player:fullscreen {
  height: 90vh;
}

.tts_ansreview,
.tts_answered,
.tts_notanswer,
.tts_notvisit,
.tts_review {
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}

.tts_notvisit {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%23808080%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='3'%3E%3C/rect%3E%3C/svg%3E");
}

.t_notes {
  width: 20vw;
  height: 5vh;
  border: 3px cyan solid;
  color: var(--white);
  margin: 3px;
}

.tts_notanswer {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%23f00%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='5'%3E%3C/rect%3E%3C/svg%3E");
}

.tts_answered {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%230f0%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='5'%3E%3C/rect%3E%3C/svg%3E");
}

.tts_review {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDY0IDY0IiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiPjxkZWZzPjxpbWFnZSAgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBpZD0iaW1nMSIgaHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFFQUFBQUJBQVFNQUFBQ1FwK09kQUFBQUFYTlNSMElCMmNrc2Z3QUFBQU5RVEZSRkFBQUFwM285MmdBQUFBRjBVazVUQUVEbTJHWUFBQUFQU1VSQlZIaWNZMkFZQmFPQWZBQUFBa0FBQVZrMm9RTUFBQUFBU1VWT1JLNUNZSUk9Ii8+PC9kZWZzPjxzdHlsZT4uYXtmaWxsOiMwZmZ9PC9zdHlsZT48dXNlICBocmVmPSIjaW1nMSIgeD0iMCIgeT0iMCIvPjxwYXRoIGNsYXNzPSJhIiBkPSJtMSAxMWMwLTUuNSA0LjUtMTAgMTAtMTBoNDJjNS41IDAgMTAgNC41IDEwIDEwdjQyYzAgNS41LTQuNSAxMC0xMCAxMGgtNDJjLTUuNSAwLTEwLTQuNS0xMC0xMHoiLz48L3N2Zz4=");
}

.tts_ansreview {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%230ff%7D.b%7Bfill:%230f0%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='10'%3E%3C/rect%3E%3Crect class='b' x='16' y='18' width='12' height='12' rx='15'%3E%3C/rect%3E%3Crect class='b' x='5' y='4' width='13' height='13' rx='15'%3E%3C/rect%3E%3C/svg%3E");
}

.dshbox_v2 {
  padding: 4px;
  background-color: transparent;
  border: yellow 1px solid;
  border-radius: 30px;
  margin: 5px;
  width: 160px;
}

.dshbox_v2:hover {
  background-color: rgba(47, 97, 184, 0.5);
}

.aq_mcq_p,
.tp_mcq_p,
.lq_mcq {
  height: max-content;
  border: yellow 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--white);

}

.aq_mcq {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  border: none;
  text-decoration: none;
}

.aq_i1,
.aq_i2,
.tp_i1,
.tp_i2,
.tb_q_i1,
.tb_q_i2 {
  background-color: var(--black);
  border-color: magenta;
  color: var(--white);
  padding: 2px;
  width: 30vw;
  height: 3vh;
}

.t_no_qno {
  width: 10vw;
  height: 5vh;
  border: 3px cyan solid;
  color: var(--white);
  margin: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(17, 25, 40);
  ;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: rgb(233, 236, 10);
  font-family: Tahoma, Arial, sans-serif;
}

/* Copyright: Quarkz! */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(233, 236, 10);
}

#toolbar {
  align-items: center;
  z-index: 3;
  width: 30vw;
  color: var(--white);
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.db_class {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 30vh;
  border: var(--clr5) solid 2px;
  width: 400px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  margin: 5px;
  height:max-content
}

#tb_vl_br {
  margin: auto;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 150px;
  cursor: pointer;
  border-radius: 0;
}

::-webkit-slider-runnable-track {
  background: #3f3939;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 40px;
  background: var(--white);
  box-shadow: -200px 0 0 200px rgb(156, 189, 11);
  border: 2px solid var(--clr5);
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: var(--black)
}
.axis-label{
  color:var(--white)
}