/* 
Copyright 2021-23 Quarkz By Mr Techtroid

All rights reserved by [Mr Techtroid]. This work is not open-source.

No part of these HTML, CSS, and JavaScript files may be reproduced, distributed, 
or transmitted in any form or by any means, including photocopying, recording, 
or other electronic or mechanical methods, without the prior written permission 
of the author, except in the case of brief quotations embodied in critical reviews 
and certain other noncommercial uses permitted by copyright law.

For permission requests, please contact [Mr Techtroid] at mrtechtroid@outlook.com . 
*/
:root {
  font-style: Nunito;
  --black: rgba(0,0,0,0.75);
  --white: rgb(255, 255, 255);
  --red: rgb(255, 0, 0);
  --magenta: rgb(255, 0, 255);
  --lime: rgb(0, 255, 0);
  --grey: rgb(128, 128, 128);
  --yellow: rgb(228, 228, 3);
  --blue1: rgba(47, 97, 184, 0.5);
  --cyan: rgb(0, 225, 255);
  --orange: rgb(250, 101, 2);
  --bgcolor1: rgb(18, 34, 53);
  --lgreen:rgb(6, 216, 95);
  --yellowlime: rgb(161, 245, 6);
  --darkgrey: rgb(41, 47, 58);
  --darkblue: rgb(17,25,40);
  --blue2: rgb(5, 5, 32);
  --bgimg1: radial-gradient(at 47% 33%, hsl(0.00, 0%, 0%) 0, transparent 59%), radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  --pink1: rgb(233, 119, 119);
  --pink2: rgb(255, 159, 159);
  --pink3:rgb(252, 221, 176);
}
.dark_mode{
  --bgcolor: var(--bgcolor1);
  --bgimage: var(--bgimg1);
  --clr3: var(--grey);
  --clr4: var(--cyan);
  --clr5: var(--magenta);
  --clr7: var(--yellowlime);
  --clr8: var(--darkgrey);
  --clr9: var(--blue2);
  --clr10: var(--lime);
  --clr11:var(--darkblue);
  --clr12: var(--blue1);
  --clr13: var(--orange);
  --clr14: var(--lime);
  --clr15: var(--red);
  --clr16: var(--white);
  --clr17: var(--yellow);
  --clr18: var(--black);
}
.dark_mode #ovr_l_1{
  display: block;
}
.dark_mode #ovr_l_2{
  display: none;
}
.light_mode{
  --bgcolor:var(--pink3);
  --bgimage: var(--pink2);
  --clr3: var(--grey);
  --clr5: var(--magenta);
  --clr6:var(--pink1);
  --clr7: var(--lgreen);
  --clr8: var(--pink1);
  --clr9: var(--blue2);
  --clr10: var(--blue1);
  --clr11: var(--pink2);
  --clr12: var(--blue1);
  --clr13: var(--orange);
  --clr14: var(--lime);
  --clr15: var(--red);
  --clr16: var(--black);
  --clr17: var(--red);
  --clr18: var(--black);
}
.light_mode #ovr_l_1{
  display: none;
}
.light_mode #ovr_l_2{
  display: block;
}
.light_mode hr{
  color:black !important;
  border-color: black !important;
  background-color: black !important;
}
.dark_mode hr{
  color:white !important;
  border-color: white !important;
  background-color: white !important;
}
#ovr_msg{
  width:90%;
}
.light_mode .it_popup #container {
  height: 90%;
  overflow-y: scroll;
  border: solid 3px var(--clr16);
  text-align: left;
  font-size: max(14px,3vh);
  background-image: url("../assets/print/white.png");
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Nunito;
  font-size: max(14px,3vh);;
  background-color: var(--bgcolor);
  background-image: var(--bgimage);
  color: var(--clr16);
}

/* Overlay */
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
  color:white !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#overlay img{
  width: 90%;
}
details{
  width:90%;
  margin:auto;
  align-items: center;
}
#report-tag{
  display: none;
}
summary{
  font-size: max(15px,4vh);;
  background-color: var(--clr8);
  padding-left: 100px;
  border-radius: 10px;
  padding-right: 100px;
  cursor: pointer;
}
details[open] summary{
  border-radius: 10px 10px 0px 0px;
}
.summary_div {
  flex-wrap:wrap;
  border: solid 2px;
  border-top:0px;
  border-color:var(--clr8);
  padding:5px;
}
#overlay_div {
  color: var(--clr16);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.in_t {
  font-size: max(20px,5vh);;
}

.in_t_2 {
  font-size: max(12px,2vh);;
}

.in_t_3 {
  font-size: max(14px,3vh);
}

#legal {
  text-align: center;
}

#ovr_logo {
  font-size: max(15px,3vh);
  font-weight: bold;
  margin-left: 2vw;
  cursor:pointer;
}

.lgn_c_1 {
  margin: auto;
  font-size: max(14px,3vh);
  text-decoration: none;
  color: var(--clr16);
}

.lgn_c_1 a {
  color: var(--clr16);
}

#bgrep_frame {
  width: 90vw;
  height: 90vh;
  border: none;
}

#abt_c_1 {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

/* Login Page */
.text_bx_1 {
  font-size: max(15px,4vh);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid var(--clr17);
  outline: none;
  color: var(--clr16);
}

/* Watermark Div */
#watermark {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98vw;
  position: relative;
}

#w_holder {
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  margin-left: 2vw;
}

#lgn_err {
  display: none;
}

/* Login */
#lgn_bx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: var(--clr11);
  border-radius: 12px;
  border: 1px solid var(--clr8);
  border-radius: 10px;
  padding: 4vw;
}

/* Dashboard */
#sidebar {
  width: 30vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  border-right: 3px solid var(--clr16);
}

.full_page {
  width: 97vw;
  height: 89vh;
  min-height: 89vh;
  /* height: max-content; */
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: var(--clr11);
  border-radius: 12px;
  border: 1px solid var(--clr8);
  overflow: hidden;
  margin: 5px;
  color: var(--clr16);
  /* display: none !important; */
}

.note-editable {
  color: var(--clr16);
}

._open {
  display: flex !important;
}

#pe_gi_ins {
  resize: none;
  overflow-y: scroll;
}

#pe_tst_mrk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex_type {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#spoints::after {
  content: "🔥"
}

.pro_table {
  border-collapse: collapse;
}

.pro_table td {
  border: gray 3px solid;
  width: 20vw;
}

.dimmed:after {
  content: " ";
  z-index: 5;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: var(--clr18);
}

.t_crr {
  position: relative;
}

.t_incrr {
  position: relative;
}

.t_unat {
  position: relative;
}

.t_crr::before {
  position: absolute;
  content: 'C';
  bottom: 2px;
  right: 8px;
  color: var(--clr9);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEVQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/kkg1QAAABd0Uk5TADBff7+vIBCP/9+gcECQ8IDQwGDvULDg0L2uAAAAj0lEQVR4nO2SUQ+CMAyENymMDzeGDPn/P9UFCWpS6rOJ97Skt7trrs798ePwl0akbbqTcejZIV79PsA1ppTGzKQRbuS0S40aIUJ6uSmEzGzld/5dQEMCNfqBCcz5d0IBLfpHBjtkgGJ7zCy2Rwf9IXfXGHUPeRZdFrUsFzMM0krtO564rHk7h9XYJ9R72B4PdY4Ess6OA7IAAAAASUVORK5CYII=')
}

#bugreport {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t_incrr::before {
  position: absolute;
  content: 'X';
  bottom: 2px;
  right: 8px;
  color: var(--clr9);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADNQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA6Y43EAAAABF0Uk5TACB/MMD/z9DwgHBg4LAQUL+CKjl9AAAAgUlEQVR4nO3ROxKAIAwE0ACuAn7vf1oFImORtXfGbUjB5JEg8ue7cd4HLYP3zrgxYNRqwmC2iEi1SIhWA5EMFCQAmTyjIQToCAUUmTnQEHCgIngDpEzYJmG5Jlz6uqxMWPu6bCBu97oIsMvzTwygHBSpQMmFWKMqIBU5OKDI27o1J0mhAtutD+wYAAAAAElFTkSuQmCC')
}

.t_unat::before {
  position: absolute;
  content: 'U';
  bottom: 2px;
  right: 8px;
  color: var(--clr9);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEJQTFRFAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA60NphwAAABZ0Uk5TAGB/QMD/gJDQsHDPECAwUO/wv5+voBP21iAAAABkSURBVHic7ZHLCoAgFAWv6THLR9nj/3+1BI0WZ9UucDYOMsIBRTo/Rg2a6AsDS7QHX4KxqaPBBNMUmElg4asFgH2Weq4tEElwj/CpnMtKJ4ikDGz74QEXaCDhRCGzhY2odX19AdugAyeYRe6mAAAAAElFTkSuQmCC')
}

.fto_box {
  display: flex;
  height: 50px;
  width: 130px;
  border-radius: 30px 30px 30px 30px;
  background-color: var(--clr8);
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.fto_box_title {
  font-size: 14px;
  color: var(--clr7)
}

.fto_box_content {
  font-size: 20px;
}

.progressbar_tr {
  background-color: var(--clr12);
  border-radius: 13px;
  padding: 3px;
  width: 90vw;
}

.pb_tr_in {
  background-color: var(--clr13);
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  position: relative;
}

.tst_btn {
  font-size: max(14px,3vh);
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  background-color: var(--clr8);
  color: var(--clr16);
  border: none;
  border-radius: 30px 30px 30px 30px;
  cursor:pointer;
}

.tst_btn:hover {
  background-color: var(--clr3);
}

.tlinks,.tlinks-2 {
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor:pointer;
}
.tlinks-3{
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 10px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor:pointer;
}
.tlinks-3 .tl{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: small;
  color: var(--clr3);
}
.tlinks-2{
  flex-direction: row !important;
}
#sms_prov::before{
  content: "("
}
#sms_prov::after{
  content: ")"
}
.tlinks_min {
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 10px;
  width: 300px;
  border-radius: 100px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor:pointer;
}

.t_title {
  font-size: large;
  font-weight: bold;
}

.t_stron {
  font-size: small;
  color: var(--clr3);
}

#tmt_frame {
  filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  background-color: var(--clr18);
  color: var(--clr16);
  border: 0;
}

.t_endon {
  font-size: small;
  color: var(--clr3);
}

.fqu_mcq_p,
.tp_mcq_p,
.lq_mcq {
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--clr16);
}

.tb_q_mcq_p {
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 2px;
  width: 30vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--clr16);
  padding-left: 8px;
}

.fqu_mcq {
  width: 100%;
  background-color: var(--clr18);
  color: var(--clr16);
  border: none;
  text-decoration: none;
}

.fqu_i1,
.fqu_i2,
.tp_i1,
.tp_i2 {
  background-color: var(--clr18);
  border-color: var(--clr5);
  color: var(--clr16);
  padding: 2px;
  width: 30vw;
  height: 3vh;
}

.tp_i1,
.tp_i2 {
  width: 10vw;
}

.sp_txt {
  color: var(--clr5);
}

.err_txt {
  color: var(--clr15);
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  z-index: 2;
  font-size: max(16px,4vh);
  border: none;
  outline: none;
  color: var(--clr16);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

._in_reg {
  font-size: max(16px,4vh);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid var(--clr10);
  outline: none;
  color: var(--clr16);
}

._in_aq,
._in_pq {
  font-size: max(14px,3vh);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid var(--clr3);
  outline: none;
  color: var(--clr16);
}

._in_aq {
  width: 72vw;
}

._in_pq {
  width: 5vw;
}

.qb_q_ty {
  float: right;
  color: var(--clr5);
}

#eqb_add {
  width: 90%;
  font-size:min(14px,3vh);
  z-index: 1;
  counter-reset: qno;
}

.qb_mcq {
  counter-reset: optno;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#options_tab span, #toolbar span{
  cursor:pointer;
}
.qb_mcq_exp {
  counter-reset: optno;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
input[type=radio], input[type=checkbox]{
  cursor:pointer;
}
.qbtp_q::before {
  content: counter(qno)") ";
}

.qbtp_q {
  counter-increment: qno;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.qb_q_ty {
  position: absolute;
  right: 10px
}

.qb_qt_ty {
  position: relative !important;
}

.qb_mcq_opt {
  counter-increment: optno;
  width: 20vw;
}

.qb_mcq_opt:before {
  content: counter(optno, lower-alpha)") ";
}

#qb_title {
  color: var(--clr5);
}

#abt_img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: var(--clr7);
  border-style: solid;
}

#ovr_l_2 {
  display: none;
  height: 6vh;
}
#pt_ins{
  width:90%;
}
#ovr_l_1 {
  display: block;
  height: 6vh;
}

.qb_img {
  position: relative;
  z-index: -1;
}

.note-modal-backdrop {
  display: none !important;
}

.qb_q {
  counter-increment: qno;
}

#eqb_instr {
  text-align: left;
  width: 90%;
  font-size: max(14px,3vh);
}
#output{
  /* height: max-content; */
  /* min-height: 86vh; */
}
#nt_nocontrol {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 60px;
  background-color: var(--bgcolor);
  text-align: center;
  border: var(--clr3) 2px solid;
}

@media screen {
  div.divFooter {
    display: none;
  }
}

@media print {
  @page {
    size: A4;
    margin: 15mm 15mm 15mm 15mm;
    background-image: url("../assets/print/white.png") !important;
  }

  .divFooter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: var(--clr3);
    z-index: 0;

  }
  img{
    max-width: 90%;
  }
  #tsi{
    color:var(--clr18);
  }
  .divFooter2 {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateY(50%);
    font-size: max(15px,4vh);
    color: var(--clr9);
    z-index: 0;
  }

  body:before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
  #un_edit{
    display:none !important;
  }
  #un_preview{
    display:block !important;
    height:max-content !important;
    color:black !important; 
    overflow:hidden !important;
    min-height: 90%;
    min-width: 95%;
  }
  #un_preview ol{
    color:black !important;
  }
  #output{
    height:max-content;
  }
  .qb_q {
    counter-increment: qno;
  }

  body {
    position: relative;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: transparent;
    margin: 0;
    background: url("../assets/print/white.png");
    color: black;
    font-family: Nunito;
  }

  #ovr_l_1 {
    display: none !important;
  }

  #ovr_l_2 {
    display: block !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  hr {
    color: black !important;
    background-color: black !important;
  }

  #output {
    backface-visibility: visible;
    background-color: transparent;
    background: url("../assets/print/white.png");
    border: black 3px solid;
  }

  #eqb_instr {
    color: black;
  }
  #eqb_add{
    color: black !important;
  }
  .qbtp_q{
    font-size: 14px !important;
  }

  .qb_ttl,
  .qb_img,
  .qb_q_ty,
  .qb_mcq,
  li {
    page-break-inside: avoid !important;
    position: relative;
    break-inside: avoid;
    page-break-after: auto;
    display: block;
  }

  .qb_mcq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #eqb_add {
    display: block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .les_q,
  .les_expl {
    color: black !important;
  }

  .qbtp_q {
    color: black !important;
    border-bottom: black 1px solid;
    font-size: max(15px,4vh);
    position: relative;
  }

  .qb_q_ty {
    color: var(--clr5) !important;
  }

  footer:before {
    content: "Quarkz!"
  }

  hr,
  li {
    color: black;
  }

}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.div-qbnk {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: var(--clr8);
  z-index: 0;

}

.div-qbnk1 {
  position: fixed;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  font-size: max(20px,5vh);
  color: var(--clr7);
  z-index: 0;
  width: 120px;
  display: flex;
  flex-direction: column;
}

#printable,
#topic {
  height: max-content !important;
}

#functions {
  overflow-y: scroll;
}

#func_hold {
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 50vw;
  height: 60vh;
}

#dsh_btn {
  z-index: 2;
  border: none;
  outline: none;
  background-color: var(--clr11);
  color: var(--clr16);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: max(18px,4vh);
}

.ovr-scroll {
  overflow-y: scroll;
}

.col-red {
  color: var(--clr15);
}

#tp_full_vid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dsh_btn:hover {
  background-color: var(--clr12);
  cursor:pointer;
}
a{
  cursor:pointer;
}
.dshbox {
  padding: 4vw;
  border: var(--clr10) 3px solid;
  border-radius: 30px;
  margin: 1vw;
  cursor:pointer;
}

#lgl_container {
  width: 90vw;
  height: 75vh;
  overflow-y: scroll;
  border: solid 3px var(--clr17);
  text-align: left;
  font-size: max(14px,3vh);
}

#fto_leaderboard {
  /* width: 30vw;
  height: 55vh;
  overflow-y: scroll;
  border: solid 3px var(--clr17);
  text-align: left;
  font-size: 14px; */

}

#tt_timespent {
  font-size: max(14px,3vh);
  width: 300px;
}

#tt_infobx {
  width: 250px;
  height: 140px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  border: var(--clr3) 1px solid;
  border-radius: 30px 0px 0px 30px;
  margin: 10px;
}
#tt_chgbx {
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow-y: scroll;
  border: var(--clr3) 1px solid;
  border-radius: 30px 0px 0px 30px;
  margin: 10px;
}
.tt_question hr {
  background-color: var(--clr3);
}

#tt_question {
  height: 70vh;
  border: var(--clr3) 3px solid;
  overflow-y: scroll;
  position:relative;
}
#tt_question img:hover{
  max-height: 50vh !important;
  max-width: 45vw !important;
  zoom:2;
  z-index:3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--clr14) solid 5px;
}
#tt_timeleft,
#tt_marksaward,
#tt_timespent,
#tt_testname {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px 5px 5px 5px;
  border: var(--clr3) 1px solid;
}

#testv1 {
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  min-height: 90vh;
}

#tw_Physics_c,
#tw_Chemistry_c,
#tw_Math_c,
#tw_Computer_c,
#tw_Biology_c,
#tw_Statistics_c,
#tw_Unfiled_c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto
}

#tw_Physics,
#tw_Chemistry,
#tw_Math,
#tw_Computer,
#tw_Biology,
#tw_Statistics,
#tw_Unfiled {
  display: flex;
  flex-direction: column;
}

#tt_qnobx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px 0px 0px 30px;
  padding: 10px;
  width: 250px;
  height: 40vh;
  margin: 10px;
  overflow-y: scroll;
  border: var(--clr3) 1px solid;
}

.fto_small {
  font-size: max(12px,2vh);
  color: var(--clr3);
  margin: 5px
}

.t_gre {
  background-color: var(--bgcolor);
  border-radius: 5px 5px 5px 5px;
  height: 25px;
  width: 50px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#volumebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--clr15);
}

/* Copyright: Quarkz! */
#yt_progressBar {
  width: 960px;
  height: 6px;
  background-color: var(--clr8);
  display: none;
  margin-top: 1px;
}

#prf_tab_t,
#abt_tab_t {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#abt_tab_t {
  /* background: url("/../assets/banner.webp"), url("/../assets/banner.png"); */
  background-position: center;
  background-size: 50px;
}

#prf_tab_t {
  background: url("../assets/prf_background.webp"), url("../assets/prf_background.png");
  background-size: cover;
  background-position: center;
}

#prf_email::before {
  content: "✉ "
}

#prf_name {
  font-size: max(20px,5vh);
  color: var(--clr18);
  font-weight: bold;
}

#abt_name {
  font-size: max(15px,4vh);
  color: var(--clr16);
  font-weight: bold;
}

.prf_det {
  font-size: max(12px,2vh);
  color: var(--clr18)
}

.abt_det {
  font-size: max(12px,2vh);
  color: var(--clr3)
}

#prf_phone::before {
  content: "☎ "
}

#prf_class::before {
  content: "Class "
}

#prf_crton::before {
  content: "Joined On "
}

#prf_tab_t_t,
#abt_tab_t_t {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
  height: 30vh;
}

#prf_tab_t_t_img {
  height: 100px;
  width: 100px;
}


#abt_tab_t_t_img {
  border: var(--clr14) 2px solid;
  border-radius: 30px;
  width: 200px;
  height: 200px
}

#prf_tab_t_hold,
#abt_tab_t_hold {
  display: flex;
  flex-direction: column;
  height: 7vh;
  margin-left: 5px;
  height: max-content;
  justify-content: left;
}

#abt_tab_t_hold {
  margin: 10px;
}

circle text {
  fill: var(--clr16);
}

#yt_progressBar div {
  height: 100%;
  width: 0;
  background-color: var(--clr16);
}

#volumebar::-moz-range-thumb {
  background: var(--clr15);
}

.material-icons:hover {
  color: var(--clr15)
}

.material-icons {
  font-size: max(20px,5vh);
}

.dmName {
  color: var(--clr14);
}

#tb_wy_btn:hover {
  color: var(--clr15);
}

.rpl {
  background-position: center;
  transition: background 0.8s;
}

.rpl:hover {
  background: var(--clr3);
}
.rpl-2:hover {
  background: transparent !important;
  color: var(--clr5)
}
.rpl:active {
  background-color: var(--clr12);
  background-size: 100%;
  transition: background 0s;
}

.loader {
  border: 16px solid var(--clr16);
  border-radius: 50%;
  border-top: 16px solid var(--clr12);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bgcolor);
}

::-webkit-scrollbar-thumb {
  background: var(--clr12);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr13);
}

#tp_lesson:-webkit-full-screen,
#tp_lesson:-moz-full-screen,
#tp_lesson:-ms-fullscreen,
#tp_lesson:fullscreen {
  width: 100vw;
  height: 100vh;
}

#player {
  height: 300px;
}

#player:-webkit-full-screen,
#player:-moz-full-screen,
#player:-ms-fullscreen,
#player:fullscreen {
  height: 90vh;
}

.tts_ansreview,
.tts_answered,
.tts_notanswer,
.tts_notvisit,
.tts_review {
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  cursor:pointer;
}

.tts_notvisit {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%23808080%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='3'%3E%3C/rect%3E%3C/svg%3E");
}

.t_notes {
  width: 20vw;
  height: 5vh;
  border: 3px var(--clr16) solid;
  color: var(--clr16);
  margin: 3px;
}

.tts_notanswer {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%23f00%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='5'%3E%3C/rect%3E%3C/svg%3E");
}

.tts_answered {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%230f0%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='5'%3E%3C/rect%3E%3C/svg%3E");
}

.tts_review {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDY0IDY0IiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiPjxkZWZzPjxpbWFnZSAgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBpZD0iaW1nMSIgaHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFFQUFBQUJBQVFNQUFBQ1FwK09kQUFBQUFYTlNSMElCMmNrc2Z3QUFBQU5RVEZSRkFBQUFwM285MmdBQUFBRjBVazVUQUVEbTJHWUFBQUFQU1VSQlZIaWNZMkFZQmFPQWZBQUFBa0FBQVZrMm9RTUFBQUFBU1VWT1JLNUNZSUk9Ii8+PC9kZWZzPjxzdHlsZT4uYXtmaWxsOiMwZmZ9PC9zdHlsZT48dXNlICBocmVmPSIjaW1nMSIgeD0iMCIgeT0iMCIvPjxwYXRoIGNsYXNzPSJhIiBkPSJtMSAxMWMwLTUuNSA0LjUtMTAgMTAtMTBoNDJjNS41IDAgMTAgNC41IDEwIDEwdjQyYzAgNS41LTQuNSAxMC0xMCAxMGgtNDJjLTUuNSAwLTEwLTQuNS0xMC0xMHoiLz48L3N2Zz4=");
}

.tts_ansreview {
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3Cimage width='32' height='32' id='img1' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IB2cksfwAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAMSURBVHicY2AY3AAAAKAAAbAGYhgAAAAASUVORK5CYII='/%3E%3C/defs%3E%3Cstyle%3E.a%7Bfill:%230ff%7D.b%7Bfill:%230f0%7D%3C/style%3E%3Cuse href='%23img1' x='0' y='0'/%3E%3Crect class='a' x='1' y='1' width='30' height='30' rx='10'%3E%3C/rect%3E%3Crect class='b' x='16' y='18' width='12' height='12' rx='15'%3E%3C/rect%3E%3Crect class='b' x='5' y='4' width='13' height='13' rx='15'%3E%3C/rect%3E%3C/svg%3E");
}

.dshbox_v2 {
  padding: 4px;
  background-color: transparent;
  border: var(--clr17) 1px solid;
  border-radius: 30px;
  margin: 5px;
  width: 160px;
  cursor:pointer;
}

.dshbox_v2:hover {
  background-color: var(--clr12);
}

.aq_mcq_p,
.tp_mcq_p,
.lq_mcq {
  height: max-content;
  border: var(--clr17) 1px solid;
  padding: 10px;
  width: 50vw;
  border-radius: 100px;
  margin: 6px;
  color: var(--clr16);
  cursor:pointer;
}

.aq_mcq {
  width: 100%;
  background-color: var(--clr18);
  color: var(--clr16);
  border: none;
  text-decoration: none;
}

.aq_i1,
.aq_i2,
.tp_i1,
.tp_i2,
.tb_q_i1,
.tb_q_i2 {
  background-color: var(--clr18);
  border-color: var(--clr5);
  color: var(--clr16);
  padding: 2px;
  width: 30vw;
  height: 3vh;
}

.t_no_qno {
  width: 10vw;
  height: 5vh;
  border: 3px var(--clr14) solid;
  color: var(--clr16);
  margin: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--clr18);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:3;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: var(--clr11);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.it_popup {
  margin: 50px auto;
  padding: 20px;
  background: var(--clr11);
  border-radius: 5px;
  width: 65vw;
  height: 70vh;
  position: relative;
  transition: all 5s ease-in-out;
}
.it_popup h2{
  margin:0px;
}
.it_popup #container {
  height: 90%;
  overflow-y: scroll;
  border: solid 3px var(--clr16);
  text-align: left;
  font-size: max(14px,3vh);
  background-image: url("../assets/print/blue.png");
}
.popup h2 {
  margin-top: 0;
  color: var(--clr17);
  font-family: Tahoma, Arial, sans-serif;
}
#i_name,#i_start,#i_end,#i_syllabus,#i_time,#i_total,#i_qno{
  color:var(--clr3);
}
#tt_question input{
  border: grey solid 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: var(--clr8);
  font-size: max(14px,3vh);
}
.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.loading-spinner {
  border: 4px solid var(--clr17); /* Set the border color */
  border-top: 4px solid var(--clr15); /* Set the top border color to create the spinning effect */
  border-radius: 50%; /* Create a circular shape */
  width: 40px; /* Set the width and height of the spinner */
  height: 40px;
  animation: spin 1s linear infinite; /* Apply the spinning animation */
  display: none; /* Initially hide the spinner */
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Rotate the spinner from 0 degrees */
  100% { transform: rotate(360deg); } /* Rotate the spinner to 360 degrees */
}
/* Copyright: Quarkz! */
.popup .close_btn,.it_popup .close_btn {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr16);
}
.popup .close_btn:hover,.it_popup .close_btn:hover {
  color: var(--clr17);
}
#toolbar {
  align-items: center;
  z-index: 3;
  width: 30vw;
  color: var(--clr16);
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.db_class {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 250px;
  border: var(--clr3) solid 2px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  margin: 5px;
  height:max-content
}

#tb_vl_br {
  margin: auto;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 150px;
  cursor: pointer;
  border-radius: 0;
}

::-webkit-slider-runnable-track {
  background: #3f3939;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 40px;
  background: var(--clr16);
  box-shadow: -200px 0 0 200px var(--clr7);
  border: 2px solid var(--clr3);
}

.popup .close:hover {
  color: var(--clr14);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: var(--clr18)
}
.axis-label{
  color:var(--clr16)
}

/* RateMyApp - Stars */
.star {
  color: var(--clr16);
  cursor: pointer;
  font-size: 40px;
}

.star.selected,.star.hovered,
.star:hover {
  color: var(--clr17);
}

#dmodebtn{
  position: relative;
}
#dmodebtn .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#dmodebtn .switch input {
  display: none;
}

#dmodebtn .slider-t {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

#dmodebtn .slider-t:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  content: "☀️"
}

#dmodebtn input:checked + .slider-t {
  background-color: #2196F3;
}

#dmodebtn input:checked + .slider-t:before {
  transform: translateX(26px);
  content:"🌙";
  background-color: black;
  font-size:18px;
}

#dmodebtn .slider-t.round {
  border-radius: 34px;
}

#dmodebtn .slider-t.round:before {
  border-radius: 50%;
}

.table1 {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table1 caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.table1 tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.table1 th,
.table1 td {
  padding: .625em;
  text-align: center;
}

.table1 th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .table1 {
    border: 0;
  }

  .table1 caption {
    font-size: 1.3em;
  }
  
  .table1 thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .table1 tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .table1 td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .table1 td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
.table1 td:last-child {
    border-bottom: 0;
  }
}
#fto_table_pie {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: space-around;
}